
.uno{
    color:rgba(226, 1, 1, 0.304);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:600;

}

body{ background-color: rgb(158, 239, 201);width: 80%; 0 auto;
}

    h1{
        text-align: center;
        background-color: rgb(204, 103, 214);
        font-style: white;    
    
    }    
h3 {
    text-decoration: underline;
    font-style: #2503bd;

}


    

      .dos{
        color:rgb(204, 103, 214);red;
        fontfamily:'times new roman',times,serif;
        font-weight:600;
      }

      .tres{
        color:rgb(204, 103, 214);
        font-family:'times new roman',times,serif;
        font-weight: 600;
      }

      .cuatro{
        color:red;
        font-family: 'times new roman', times, serif;
        font-weight: 600;

      }

      .cinco{
        color:red;
        font-family:'times now roman', times, serif;
        font-weight: 600;
      }

      .seis{
        color:rgb(204, 103, 214);
        font-family:'times new roman', times,serif;
        font-weight: 600;
      }

      .siete{
        color:rgb(204, 103, 214);
        font-family:'times new roman', times, serif;
        font-weight: 600;
      }

h1{
    background-color: rgb(0, 255, 195) color: white
}
        

      